<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>janken</title>
</head>

<body>
  <h1>
    Janken GAME!
  </h1>
  <div th:if="${name}">
    Hi [[${name}]]
  </div>
  <a href="/jankengame?hand=Gu">ぐー</a>
  <a href="/jankengame?hand=Ty">ちょき</a>
  <a href="/jankengame?hand=Pa">ぱー</a>
  <div th:if="${result}">
    あなたの手 [[${hand}]] <br>
    相手の手 [[${cpuhand}]] <br>
    結果 [[${result}]]
  </div>
</body>

</html>
